:root {
  --spacing: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: calc(var(--spacing) * 2);
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-weight: 400;
  color: #777;

  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.container {
  width: 100%;
  background: #e7e7e7;
  border-radius: var(--spacing);
}

h1 {
  font-size: 24px;
  padding: var(--spacing) 0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 2px 0 rgba(255, 255, 255, 0.9);
}

/* ====== STYLES FOR LOADER ======
========= STARTS HERE ========== */

.load-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing);
  padding: var(--spacing);
}

.load-wrap {
  width: 100%;
  max-width: 150px;
  min-height: 120px;
  background: #d8d8d8;
  border-radius: calc(var(--spacing) * 0.5);
  padding: 1rem;
}

p {
  padding-bottom: var(--spacing);
}

.line {
  width: 15px;
  height: 15px;
  background: cadetblue;
  border-radius: 15px;
  display: inline-block;
}

/*========= LOADER ANIMATION =========
=============  STYLES  ============= */

/* ----- LOADER 1 STARTS HERE ----- */
.loader--1 .line:nth-last-child(1) {
  animation: loading1 1.5s 1s infinite;
}

.loader--1 .line:nth-last-child(2) {
  animation: loading1 1.5s 0.5s infinite;
}

.loader--1 .line:nth-last-child(3) {
  animation: loading1 1.5s 0s infinite;
}

@keyframes loading1 {
  0% {
    height: 15px;
  }

  50% {
    height: 30px;
  }

  100% {
    height: 15px;
  }
}
/* ----- LOADER 1 ENDS HERE ----- */

/* ----- LOADER 2 STARTS HERE ----- */
.loader--2 .line:nth-last-child(1) {
  animation: loading2 1.5s 1s infinite;
}

.loader--2 .line:nth-last-child(2) {
  animation: loading2 1.5s 0.5s infinite;
}

.loader--2 .line:nth-last-child(3) {
  animation: loading2 1.5s 0s infinite;
}

@keyframes loading2 {
  0% {
    width: 15px;
  }

  50% {
    width: 30px;
  }

  100% {
    width: 15px;
  }
}
/* ----- LOADER 2 ENDS HERE ----- */
