:root {
  --spacing: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: calc(var(--spacing) * 2);
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-weight: 400;
  color: #777;

  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.container {
  width: 100%;
  background: #e7e7e7;
  border-radius: var(--spacing);
}

h1 {
  font-size: 24px;
  padding: var(--spacing) 0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 2px 0 rgba(255, 255, 255, 0.9);
}

/* ====== STYLES FOR LOADER ======
========= STARTS HERE ========== */

.load-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing);
  padding: var(--spacing);
}

.load-wrap {
  width: 100%;
  max-width: 150px;
  min-height: 160px;
  background: #d8d8d8;
  border-radius: calc(var(--spacing) * 0.5);
  padding: 1.5rem;
}

.loader {
  position: relative;
}

p {
  padding-bottom: 20px;
}

.line {
  width: 15px;
  height: 15px;
  background: #262626;
  border-radius: 15px;
  display: inline-block;
}

.ring {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}

.ring--1 {
  border: 7px dashed #262626;
  margin: auto;
}

.ring--2 {
  border: 4px solid #262626;
  margin: auto;
}

.ring--2 > .small-ring {
  width: 15px;
  height: 15px;
  background: #262626;
  border-radius: 50px;
  transform: translateY(-4px);
}

.bubble {
  margin: 10px auto;
  background: #262626;
  border-radius: 100px;
}

/*========= LOADER ANIMATION =========
=============  STYLES  ============= */

/* ----- LOADER 1 STARTS HERE ----- */
.loader--1 .line:nth-last-child(1) {
  animation: loading1 1.5s 1s infinite;
}

.loader--1 .line:nth-last-child(2) {
  animation: loading1 1.5s 0.5s infinite;
}

.loader--1 .line:nth-last-child(3) {
  animation: loading1 1.5s 0s infinite;
}

@keyframes loading1 {
  0% {
    height: 15px;
  }

  50% {
    height: 30px;
  }

  100% {
    height: 15px;
  }
}
/* ----- LOADER 1 ENDS HERE ----- */

/* ----- LOADER 2 STARTS HERE ----- */
.loader--2 .line:nth-last-child(1) {
  animation: loading2 1.5s 1s infinite;
}

.loader--2 .line:nth-last-child(2) {
  animation: loading2 1.5s 0.5s infinite;
}

.loader--2 .line:nth-last-child(3) {
  animation: loading2 1.5s 0s infinite;
}

@keyframes loading2 {
  0% {
    width: 15px;
  }

  50% {
    width: 30px;
  }

  100% {
    width: 15px;
  }
}
/* ----- LOADER 2 ENDS HERE ----- */

/* ----- LOADER 3 STARTS HERE ----- */
.loader--3 .line:nth-last-child(1) {
  animation: loading3 1.5s 1s infinite;
}

.loader--3 .line:nth-last-child(2) {
  animation: loading3 1.5s 0.5s infinite;
}

.loader--3 .line:nth-last-child(3) {
  animation: loading3 1.5s 0s infinite;
}

@keyframes loading3 {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
/* ----- LOADER 3 ENDS HERE ----- */

/* ----- LOADER 4 STARTS HERE ----- */

.loader--4 .ring--1 {
  animation: wheelRotate 1s 0.5s infinite;
}

@keyframes wheelRotate {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(180deg);
  }
}
/* ----- LOADER 4 ENDS HERE ----- */

/* ----- LOADER 5 STARTS HERE ----- */
.loader--5 .ring--2 {
  transform: rotate(35deg); /*to make the small-ring a.k.a ball at the top*/
  animation: loading5 1s 0s infinite;
}

@keyframes loading5 {
  0% {
    transform: rotate(35deg);
  }

  100% {
    transform: rotate(395deg);
  }
}
/* ----- LOADER 5 ENDS HERE ----- */

/* ----- LOADER 6 STARTS HERE ----- */
.loader--6 span {
  display: block;
  margin-top: 1rem;
}

.loader--6 .shine {
  width: 15px;
  height: 40px;
  background: #d8d8d8;
  position: absolute;
  bottom: -10px;
  animation: shineRight 2s 0.5s infinite;
}

@keyframes shineRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(80px);
  }
}
/* ----- LOADER 6 ENDS HERE ----- */

/* ----- LOADER 7 STARTS HERE ----- */
.loader--7 .line {
  border-radius: 4px;
  position: absolute;
  left: 0;
  animation: rotateRight 2s 0.5s infinite;
}

@keyframes rotateRight {
  0% {
    left: 0;
    transform: rotate(0);
  }

  50% {
    left: 80%;
    transform: rotate(360deg);
  }

  100% {
    left: 0;
    transform: rotate(0);
  }
}
/* ----- LOADER 7 ENDS HERE ----- */

/* ----- LOADER 8 STARTS HERE ----- */
.loader--8 .line {
  animation: scaleBoth 2s 0.5s infinite;
}

@keyframes scaleBoth {
  0% {
    width: 15px;
    height: 15px;
  }

  50% {
    width: 40px;
    height: 20px;
  }

  100% {
    width: 15px;
    height: 15px;
  }
}
/* ----- LOADER 8 ENDS HERE ----- */

/* ----- LOADER 9 STARTS HERE ----- */
.loader--9 .spinner {
  animation: spin 2s linear infinite;
}

.loader--9 .bubble--1 {
  animation: bubble 1.5s 0s infinite;
}

.loader--9 .bubble--2 {
  animation: bubble 1.5s 2s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes bubble {
  0% {
    width: 0;
    height: 0;
  }

  50% {
    width: 20px;
    height: 20px;
  }

  100% {
    width: 0;
    height: 0;
  }
}
/* ----- LOADER 9 ENDS HERE ----- */
