* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: #262626;
  color: #d8d8d8;
  font-family: 'Verdana', sans-serif;
  text-align: center;
  padding: 2rem;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

h1 {
  text-align: center;
  padding-bottom: 3rem;
  font-size: 3rem;
}

.text-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

a {
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: light;
  color: inherit;
}
